.sito{
  height: 65px;
  width: 100%;
  background-color: ;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: rgb(30, 132, 232);
}

h1{
  font-size: 25px;}

#logo{
  width: 130px;
  margin-top: 30px;
}
#info{color:rgb(155, 155, 155);}

#scrittore{
  color: rgb(67, 163, 247);
text-decoration: none;
}
#data{
  font-size: 13px;
  color:rgb(155, 155, 155) ;
}

/* titolo e descrizzione */

#foto{font-size: 15px;}

/* data e scatto foto  */

#importante{
  background-color: yellow;
}
/* paragrafo e lista */
