.sito{
  height: 65px;
  width: 100%;
  background-color: ;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: rgb(30, 132, 232);
}

h1{
  font-size: 25px;}

#logo{
  width: 130px;
  margin-top: 30px;
}
#info{color:rgb(155, 155, 155);}

#scrittore{
  color: rgb(67, 163, 247);
text-decoration: none;
}
#data{
  font-size: 13px;
  color:rgb(155, 155, 155) ;
}

/* titolo e descrizzione */

#foto{font-size: 15px;}

/* data e scatto foto  */

.importante{
  background-color: yellow;
}
/* paragrafo e lista */

/* INIZIO TABELLA */
table{
  width: 100%;
  border-collapse:collapse ;
}

.back{
  height:20px;
  width: 100%;
  background-color: rgb(25, 166, 248);
}

#titolo-left{
  text-align: left;
  width: 140px;
}

#titolo-centro{
  text-align: center;
}

#titolo-destra{ù
text-align: right;}

.lorem{text-align: center;}

.testo{width: 400px;}

.prima{background-color:rgb(21, 196, 255) ;}

.ultima{ background-color:rgb(21, 196, 255) ;}

/* FINE TABELLA */


/* FOOTER - PUBBLICITA' */

#pubblicità{
  font-size: 20px;
  color: rgb(111, 110, 110);
  font-weight: 700;
}

.pub1{
  margin-top: 20px;
  height: 200px;
  width: 230px;
  border: 1px solid black;
  background-image: url(../img/monitor.jpg);
  background-position: center;
  

}
.pub2{margin-top: 5px;
  height: 200px;
  width: 230px;
  border: 1px solid black;
  background-image: url(../img/graph.jpg);
  background-position: center;
  
}

.scritta{
  color: white;
  font-size: 21px;
  font-weight: 700;
  margin: 15px;
}

  
  
































.